{% extends 'base.html' %} {% load static %} {% block head_title %}Login{% endblock %} {% block content %}
<head>
    <style>
        /* Responsive Styles */
        /* Adjustments for smaller devices */
        @media (max-width: 768px) {
            .w-full {
                width: 100%;
            }
            .md\:w-1/2 {
                width: 100%;
            }
        }
        /* Define styles for small screens */
        @media screen and (max-width: 640px) {
            .grid {
                grid-template-columns: 1fr;
            }
        }

        /* Container Styles */
        .container {
            max-width: 1200px; /* Adjust as needed */
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 bg-orange-100 ">
    <div class="mx-auto max-w-lg bg-white">
        <h1 class="text-center text-2xl font-bold text-indigo-600 sm:text-3xl pt-5">Get started today</h1>

        <p class="mx-auto mt-4 max-w-md text-center text-gray-600">
            "Welcome to our pet adoption platform! Discover adorable companions waiting for loving homes. Join us in bringing joy to both pets and humans alike. Begin your journey now!"
        </p>

        <form method="post" class="space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8">
            {% csrf_token %}
            <p class="text-center text-lg font-medium">Sign in to your account</p>
            
            {% for field in form.visible_fields %}
                <div>
                    <label for="{{ field.id_for_label }}" class="sr-only">{{ field.label }}</label>

                    <div class="relative">
                        <input
                            type="{% if field.name == 'username' %}text{% else %}password{% endif %}"
                            name="{{ field.name }}" 
                            id="{{ field.id_for_label }}"
                            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                            placeholder="{% if field.name == 'username' %}Enter Username{% else %}Enter Password{% endif %}"
                        />

                        <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
                            {% if field.name == 'username' %}
                                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"/>
                                </svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/>
                                </svg>
                            {% endif %}
                        </span>
                    </div>
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                {% endfor %}
            {% endif %}

            <button
                type="submit"
                class="block w-full rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white hover:bg-indigo-700"
            >
                Sign in
            </button>

            <p class="text-center text-sm text-gray-700">
                No account?
                <a class="underline text-blue-500" href="{% url 'register' %}">Sign up</a>
            </p>
        </form>
    </div>
</div>
{% endblock %}
